:root{
    --azul: #3B5998;
    --negro: #000000;
    --blanco: #FFFFFF;
    --naranja: #E08709;
    --grisoscuro: #333333;
    --grisclaro: #E1E1E1;
    --rojo: #DB4A39;
    --verde: #71B100;
    --fondo: var(--negro);
    --letras: var(--blanco);
    --header: var(--grisoscuro);
    --letrasH: var(--blanco);
    --botones: var(--grisclaro);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--fondo);
}

header {
    background-color: var(--header);
    display: flex;
}

h1 {
    font-size: 3.8rem;
    text-transform: uppercase;
    color: var(--naranja);
}

h1 span {
    text-transform: none;
    margin-left: 1rem;
}

header img {
    height: 10rem;
}

#contenedor_Uphoto {
    display: flex;
    margin-left: auto;
    padding-right: 2rem;
    padding-top: 1rem;
    width: 8rem;
    height: 8rem;
}

#user_photo {
    width: 100%;
    height: 100%;
}


/* Barra de navegación */
.nav_fondo {
    background-color: var(--header);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: sticky;
    top: 0;
}

nav a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    color:var(--letrasH);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.nav_principal {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav_configuracion {
    grid-column: 4 / 5;
    display: flex;
    justify-content: center;
}

.element {
    display: flex;
    align-items: center;
    padding: 0 2rem 0 2rem;
}

.element:hover {
    background-color: var(--naranja);
}

/* Main */
main {
    background-color: var(--fondo);
    color: var(--letras);
}

.titulo {
    color: var(--letras);
    margin: 0;
    padding: 1rem 0rem 0rem 1rem;
}

.contenedor {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Disposición ordenador grande (evitar scroll horizontal en pantallas grandes) */
@media screen and (min-width: 940px) {
	.contenedor {
        overflow-x: hidden;
    }
}

.cancion {
    align-self: baseline;
    width: 25%;
    padding: 2rem;
}

.video {
    width: 30%;
    padding: 2rem;
    height: 30rem;
}

.img_cancion {
    width: 100%;
    height: 17rem;
}

.img_articulo {
    width: 100%;
    height: 20rem;
}

.img_carro {
    width: 100%;
    height: 4rem;
    
}

#video {
    height: 20rem;
}

#video1 {
    height: 100%;
    width: 100%;
}

.nombre_cancion {
    text-align: center;
    color: var(--letras);
}


.contenedor-dani {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5rem;
} 

.contenedor-dani .cancion {
    width: 50%;
    padding: 5rem;
}

.contenedor-dani .cancion .foto_cancion{
    height: 30rem;
}

.twitter-tweet {
    size: 15%;
}

.compra_line {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width: 900px) {
	.compra_line {
        flex-direction: row;
    }
}


.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.producto h3 {
    margin: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.7rem;
}

/* Footer */

footer {
    height: 7rem;
    width: 100%;
    background-color: var(--header);
    position: fixed;
    bottom: 0;
}

h4 {
    color: var(--letrasH);
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}